* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weatherforcast {
    background-image: url('../../assets/itscold.gif');
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weatherforcast.warm {
    background-image: url('../../assets/summerday.gif');
}